/* Background: */ 
body{
    /* Subpage-body: */ 
    font-family: Roboto;
    font-weight: 400; 
    font-size: 14px; 
    color: #000000; 
    line-height: 20px;
}
/* mobile sizes have solid color background*/
.main{
        background-color:#EC8213;
        height:100vh;
        padding: 0px;
}
@media (min-width: 768px) { 
    .main{
        background-image: radial-gradient(ellipse 50% 100% at 50% 0%, #F7B82B 0%, #EC8213 100%);
        padding: 70px 25px 0px 25px;
        height: 100vh;
    }
}
.call-action{ /* Download Now: */ 
    font-family: Roboto; 
    font-weight: 300; 
    font-size: 36px; 
    color: #FFFFFF; 
    line-height: 42px; 
}

h1{
    /* Subpage-header: */ 
    font-family: Roboto;
    font-weight: 700; 
    font-size: 13px; 
    color: #313138; 
    line-height: 19px; 
}
/* Navbar styling -------------------------------------------------------------------*/
.navbar-toggle{
    float: left;
}
.media-links{
    float: right;
    text-align: center;
    margin:10px auto;
}
.logo{
    width:50%;
    text-align: center;
    margin:10px auto;
}
.navbar-brand{
    float:none;
    padding: 0px;
}
.navbar-brand > img{
    display: inline-block;
}
.nav-title{ /* Menu-title: */ 
    font-family: Roboto; 
    font-weight: 700;
    font-size: 15px; 
    color: #FFFFFF; 
    line-height: 22px; 
    margin-bottom: 1px;
    margin-top: 5px;
}
@media (min-width:768px) {
    .nav-title{
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
.nav-body{ /* Menu-body: */ 

    font-family: Roboto; 
    font-weight: 300;
    font-size: 15px; 
    color: #FFFFFF; 
    line-height: 22px; 
}
.slide-in-nav{ /* Left panel that acts as navbar dropdown */
    position: absolute;
    width: 260px;
    height: 100vh;
    left:-300px;
    background-color: #222;
    transition-duration: 450ms;
    overflow: auto;
}
.show{ /* slide in transition for nav */
    transform: translateX(300px);
}
.nav-section{ /* ul styling for nav groups */
    list-style-type: none;
}
a {
    font-family: Roboto; 
    font-weight:300; 
    font-size: 15px; 
    color: #FFFFFF; 
    line-height: 22px; 
}
a:hover, a:focus a:active {
    font-family: Roboto; 
    font-weight:300; 
    font-size: 15px; 
    color: #FFFFFF; 
    line-height: 22px; 
    text-decoration: underline;
}
/* keeping the navbar collapsed -------------------------------------------------*/
@media (min-width:768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none ;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none; 
    }
    .navbar-nav {
        float: none ; 
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display: block ;
    }
}


/* splash page styling --------------------------------------------------------------*/
/* Mobile Splash Styling-------------------------------------------*/
.download-buttons a:hover, .download-mobile a:hover{
    opacity: 0.8;
}
.main-splash{
    display: none;
}
.mobile-splash{
    margin: auto;
    padding-top: 20%;
    width:100%;
    text-align: center;
    background-color: #EC8213;
}
/* hiding the navbar media links and replacing with new ones */
.media-links{
    display:none;
}
.mobile-media{
    padding-top: 5%;
}
/* Larger Size Splash Styling--------------------------------------*/
/* Small Devices 768xp and up */
@media (min-width: 768px) { 
    .media-links{
        display: block;
    }
    .media-links a{
        padding: 0px 5px;
    }
    .mobile-media{
        display: none;
    }
    .mobile-splash{
        display:none;
    }
    .main-splash{
        display:block;
    }
    .brandish{ /* centering the logo */
        width: 238px;
        height: 235px;
        background: transparent url('../images/brandish_logo.png') 0 0 no-repeat;
        position:absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    .brandish:hover{
        background: transparent url('../images/brandish_logo_hover.png') -4px -2px no-repeat;
    }
    .brandish:active{
        box-shadow: none;
    }
    .peek{ /* setting up for effect */
        height: 176px;
        width: 252px;
        background: transparent url('../images/phone.png') 0px 0px no-repeat;
        position: absolute;
        z-index: 1;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow:hidden;
        margin: auto;
    }
    .peek video{
        position: absolute;
        top: 56px;
        left: 17px;
    }
    /* effect classes */
    .full-size{ /* expands the phone to the image size, hides the excess*/
        height: 502px;
        bottom: -320px;
    }
    div.call-action{
        height:100px;
        position: absolute;
        display: none;
    }
    .download-buttons{
        width:340px;
        position: absolute;
        left:50%;
        margin-left:-170px;
        display: none;
    }
}

/* sub pages styling -------------------------------------------------------------------------*/
/* mobile text pages */
.text-page{
    padding: 70px 5% 0px 5%;
}
@media (min-width: 768px) { 
    .text-page{
        padding: 70px 20% 0px 20%;
    }
}
.text-page ul, .text-page ol{
    margin-left:-27px;
}
.text-page a{
    color: #000000;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: 700;
}
.video-page{
    text-align: center;
    padding: 60px 3% 0px 3%;  
    background-image: radial-gradient(ellipse 50% 100% at 50% 0%, #F7B82B 0%, #EC8213 100%);
}
.video-page h1{
    font-family: Roboto; 
    font-weight: 400; 
    font-size: 36px; 
    color: #FFFFFF; 
    line-height: 42px; 
}
.video-wrap{
    display: inline-block;
    width: 100%;
    margin: -5px -5px -5px -5px;
    padding:20px;
   
}
@media (min-width:768px) {
    .video-wrap{
        display: inline-block;
        width: 50%;
        padding: 20px;
    }
    .video-page{
    text-align: center;
    padding: 60px 10% 0px 10%;  
}
}